<div class="header">
  <div class="overlap-group14">
    <a href="/" class="align-self-flex-start"><img class="logo-negro-negativo-3" src="/assets/img/logo-negro-negativo-3@2x.png" /> </a>
    <a href="/about/"><div class="about roboto-normal-tuatara-17px">About</div></a>
    <a href="/people/"><div class="people roboto-normal-tuatara-17px">People</div></a>
    <a href="/projects/"><div class="projects roboto-normal-tuatara-17px">Projects</div></a>
    <a href="/publications/"><div class="publications roboto-normal-tuatara-17px">Publications</div></a>
    <a href="/talks-and-media/"><div class="talks-and-media roboto-normal-tuatara-17px">Talks and media</div></a>
    <!-- <a href="/blog/"><div class="blog roboto-normal-tuatara-17px">Blog</div> </a> -->
  </div>
</div>
